.topnav {
  background-color: #F95C98;
  overflow: hidden;
  float: center;
  text-align: center;
  padding: 20px 0px;
  text-decoration: none;
  font-size: 20px;

}

.bg-primary{
  background-color: white;
}

.bg-secondary{
  background-color: #F95C98;
}

.bg-tertiary{
  background-color: white;
}

.bg-quaternary{
  background-color: #F95C98;
}

.OverText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-container {opacity: 0.3;}

.SocialIcons {
  text-align:center;
background-color: #F95C98;}

.Map {

  text-align: center;
}
