.topnav {
  background-color: #F95C98;
  overflow: hidden;

  float: center;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  font-size: 20px;

}

.bg-primary{
  background-color: slategrey;
}

.bg-secondary{
  background-color: teal;
}

.bg-tertiary{
  background-color: orange;
}

.OverText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-container {opacity: 0.3;}

.SocialIcons {text-align:center;}
